<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calebe.im_up_app">
    <!--<uses-feature android:name="android.hardware.camera"    android:required="true" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        >
        <!--android:theme="@style/AppTheme"-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.calebe.im_up_app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"></meta-data>
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="I'm UPP"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InitialScreen"
            android:label="Conexão com o Servidor"
            >

        </activity>
        <activity
            android:name=".ImageClicked"
            android:label="Visualização da Imagem"
            />
        <activity android:name=".ScanActivity"/>
    </application>

</manifest>